[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "iGraphMatch"]
	path = iGraphMatch
	url = https://github.com/dpmcsuss/igraphmatch
